/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* New CSS */

h1 {
  font-size: 100px;
  color: white;
  text-align: center;
}

h3 {
  font-size: 30px;
}

.header {
  width: 1024px;
  margin: 0 auto;
  height: 150px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1024px;
  margin: 0 auto;
  background-color: #e6e0e0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer {
  width: 1024px;
  margin: 0 auto;
  height: 70px;
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 1024px;
  margin: 0 auto;
  height: 100px;
}

.redbox {
  width: 250px;
  height: 250px;
  margin: 20px;
  background-color: white;
  border: 3px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  box-sizing: border-box;
}

.bluebox {
  width: 250px;
  height: 250px;
  margin: 20px;
  background-color: white;
  border: 3px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  box-sizing: border-box;
}

.greenbox {
  width: 250px;
  height: 250px;
  margin: 20px;
  background-color: white;
  border: 3px solid green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  box-sizing: border-box;
}

.yellowbox {
  width: 250px;
  height: 250px;
  margin: 20px;
  background-color: white;
  border: 3px solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  box-sizing: border-box;
}

.pinkbox {
  width: 250px;
  height: 250px;
  margin: 20px;
  background-color: white;
  border: 3px solid pink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  box-sizing: border-box;
}

span {
  font-weight: bold;
}
